<div class="container mainContainer">

    <div class="jumbotron text-center">
        <h1>WIRED.com Most Popular Articles</h1>
        <h2><i>Click the Comments button to add a comment</i></h2>
    </div>

    <div class="row">

        <div class="col-xs-7">
            <div class="panel panel-default articlePanel" ng-repeat="article in articles">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-4">
                            <img class="img-responsive" src="{{article.img}}">
                        </div>
                        <div class="col-xs-8">
                            <h4>{{article.title}}</h4>
                            <p><a href="{{article.link}}" target="_blank">{{article.link}}</a></p>
                            <button class="btn comment-btn" ng-click="showComments(article._id)">Comments:
                                {{article.comments.length}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End article list column-->

        <div class="col-xs-5">
            <div class="row" ng-show="commentVis">
                <div class="col-xs-12">
                    <div class="text-center comments"><h1>Comments</h1></div>
                </div>

                <div class="col-xs-12" ng-repeat="comment in comments">
                    <div class="panel panel-default commentPanel">
                        <div class="panel-body">
                            <span class="glyphicon glyphicon-remove btn removeBtn"
                                  ng-click="deleteComment(articleId, comment._id)"></span>
                            <h4> {{comment.title}}</h4>
                            <p> {{comment.body}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <form>
                        <input id="titleinput" class="form-control" name="title" ng-model="title"
                               placeholder="Comment title">
                        <textarea id="bodyinput" name="body" class="form-control" ng-model="body"
                                  placeholder="Comment"></textarea>
                        <button class="btn btn-success" ng-click="saveComment(articleId)">Save</button>
                    </form>
                </div>
            </div>
        </div> <!-- End comments column -->

    </div> <!-- End row -->

</div>
