body{
    /*background-color: #DECADE*/
    background-color: #003366
}
input.form-control{
    height:36px;
    font-size: 24px;
}
textarea.form-control{
    height:200px;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.comment-btn {
    background-color: #003366;
    color: #ffffff;
}

.comments {
    color: white;
}

footer {
    color: white;
}